body {
  background-image: linear-gradient(to right, #AB53C4,#4D58CE);
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table_container {
  border-radius: 10px;
  width: 75%;
  background-color: white;
  height: 420px;
  
}
table {
  width: 100%;
  height: 420px;
  border-radius: 5px;
}
th {
  padding: 5px 10px;
  margin: 0;
  text-align: center;
  background-color: #36304A;
  color: white;
}
table, th, td {
  border: none;
  border-collapse: collapse;
}
tr {
  text-align: start;
}
.text_change {
  background-color: #F5F5F5
}
